{% extends 'base.html' %}
{% load static %}
{% block extracss %}
 <!--Estilos Tablas-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css_tables/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css_tables/dataTables.bootstrap4.min.css' %}" />
{% endblock extracss %}
{% block title %}
   <title>Listado Miembros</title>
{% endblock title %}
{% block content %}
{% include "_modal.html" %}

<div class="table-responsive">
  <div class="col">
    <div class="row w3-margin-bottom">
      <div class="col-sm-4">
          {% if request.user.is_staff %}
             <button class="create-contact btn btn-primary btn-md" type="button" name="button" style="font-size:20px;cursor:pointer"  data-toggle="tooltip" data-placement="top" title="Crear Miembro">
             <span class="fa fa-plus" ></span></button>
             <button class="delete-all-contact btn btn-md btn-danger" type="button" style="font-size:20px;cursor:pointer" data-toggle="tooltip" data-placement="top" title="Borrar Miembros">
             <span class="fa fa-trash "></span></button>
          {% endif %}
          <a href="{% url 'Contact_Web:ContactPrint' %}" class="btn btn-outline-dark" style="font-size:20px;cursor:pointer"  target="print" data-toggle="tooltip" data-placement="top" title="Reporte Miembros">
          <span class="fa fa-file-pdf-o" style="font-size:25px"></span></a>
      </div>
      <div class="col-sm-4">
          <h3 class="text-center" style="font-family: Calibri;">
              <b>Listado de Miembros</b>
          </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3 w3-responsive">
          {% include "tabla_miembro.html" with contact_list=contact_list%}          
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {

      // Create contact button
      $(".create-contact").modalForm({formURL: "{% url 'Contact_Web:CreateContact' %}", modalID: "#create-modal"});

      // Delete All Contact buttons
      $(".delete-all-contact").modalForm({formURL: "{% url 'Contact_Web:DeleteAllContact' %}", modalID: "#all-modal"});


      // Update Contact buttons
      $(".update-contact").each(function () {
        $(this).modalForm({formURL: $(this).data('id'), modalID: "#create-modal"});
      });

      // Detail Contact buttons
      $(".detail-contact").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete Contact buttons
      $(".delete-contact").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Baja Contact buttons
      $(".baja-contact").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });

  $(document).ready(function() {
      $('#contact-table').DataTable();
  } );
</script>
<script src="{% static 'assets/js_tables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js_tables/datatables.js' %}"></script>
<script src="{% static 'assets/js_tables/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js_tables/datatables.bootstrap4.js' %}"></script>
{% endblock extrascripts %}
