{% if contact_baja_list %}
    <table class="w3-table-all w3-hoverable" style="width:100%" id="contact-baja-table">
        <thead>
            <tr class="w3-red">
                <th class="text-center" onclick="sortTableNumber()" scope="col">#</th>
                <th class="text-center" onclick="sortTableNames(1)" scope="col">Nombre</th>
                <th class="text-center" onclick="sortTableNames(2)" scope="col">1er Apellido</th>
                <th class="text-center" onclick="sortTableNames(3)" scope="col">2do Apellido</th>
                <th class="text-center" onclick="sortTableNames(4)" scope="col">Carnet de Identidad</th>
                {% if request.user.is_staff %}
                    <th class="text-center" scope="col">Detalles / Editar / Borrar / Recuperar</th>
                {% else %}
                    <th class="text-center" scope="col">Detalles</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="contact-info">
            {% for contact in contact_baja_list %}
                <tr>
                    <td class="text-center"><b>{{ forloop.counter }}</b></td>
                    <td class="text-center">{{ contact.nombre }}</td>
                    <td class="text-center">{{ contact.primer_apellido }}</td>
                    <td class="text-center">{{ contact.segundo_apellido }}</td>
                    <td class="text-center">{{ contact.carnet_identidad }}</td>
                    <td class="text-center">
                        <button type="button" class="detail-contact btn btn-sm btn-primary w3-tiny rounded-circle" data-id="{% url 'Contact_Web:DetailContact' contact.pk %}" data-toggle="tooltip" data-placement="top" title="Detalles">
                            <span class="fa fa-eye"></span>
                        </button>
                        {% if request.user.is_staff %}
                            <button type="button" class="update-contact btn btn-sm btn-secondary w3-tiny rounded-circle" data-id="{% url 'Contact_Web:UpdateContactBaja' contact.pk %}" data-toggle="tooltip" data-placement="top" title="Editar">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="button" class="delete-contact btn btn-sm btn-danger w3-tiny rounded-circle" data-id="{% url 'Contact_Web:DeleteContactBaja' contact.pk %}" data-toggle="tooltip" data-placement="top" title="Borrar">
                                <span class="fa fa-trash"></span>
                            </button>
                            <button type="button" class="recuperar-contact btn btn-sm btn-success w3-tiny rounded-circle" data-id="{% url 'Contact_Web:RecuperarContact' contact.pk %}" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                <span class="fa fa-refresh"></span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-primary text-center">No hay bajas.</p>
{% endif %}